<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .Page.title }} - {{ .Site.Name }}</title>
    <link rel="stylesheet" href="{{ asset "global-style" }}">
    {{/* <link rel="stylesheet" href="{{ asset "less-style" }}"> */}}
    <link rel="alternate" type="application/atom+xml" title="{{ .Site.Name }} Atom Feed" href="/blog/feed.xml" />
    <link rel="alternate" type="application/json" title="{{ .Site.Name }} JSON Feed" href="/blog/feed.json" />
  </head>
  <body>
    {{ .Content }}
  </body>
</html>
